
{% extends 'base.html.twig' %}



{% block body %}
    <link rel="stylesheet" href="{{ asset('frontOffice/css/bootstrap.css') }}">
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="{{ asset('frontOffice/images/edspace.png') }}" class="img-fluid"
                         alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                    {% for message in app.flashes('message') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('warning') %}
                        <div class="alert alert-warning" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <form method="post">

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Nouveau mot de passe</p>
                        </div>

                        <label for="pass">Mot de passe</label>
                        <input type="password" name="password" id="pass">
                        <input type="hidden" name="token" value="{{ token }}">
                        <button>Valider</button>

                    </form>
                </div>
        </div>
        </div>
    </section>
{% endblock %}
