{% extends "backOffice.html.twig" %}
{% block leftNavBar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="index3.html" class="nav-link">Liste des etudiants</a>
        </li>
    </ul>
{% endblock%}
{% block cards %}
<div class="content-wrapper">
    <div class="container-fluid">

        <body>
<div class="panel panel-light h-auto">

    <div class="panel-body">

        <div class="tab-content">

            <div class="mx-auto" style="max-width: 500px;">

                <h5 class="mb-3">Information</h5>
                <form autocomplete="off" method="post" action="{{ path('update') }}">
                    @csrf
                    @method('PUT')
                    <input type="hidden" name="id" value="{{ admin.id ?? '' }}">
                    @if (Session::has('success_message'))
                    <div class="alert alert-success alert-dismissible alert-dismissible-2" data-animation="fadeOut"
                         role="alert">
                        {{ Session::get('success_message') }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path class="heroicon-ui"
                                      d="M16.24 14.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 0 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12l2.83 2.83z">
                                </path>
                            </svg>
                        </button>
                    </div>
                    @endif
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" name="name" class="form-control @error('name') error @enderror"
                               placeholder="Enter name here..." value="{{ admin.username ?? '' }}">
                        @error('name')
                        <div class="error">
                            {{ message }}
                        </div>
                        @enderror
                    </div>

                    <div class="form-group">
                        <label for="">E-mail</label>
                        <input type="email" name="email" class="form-control @error('email') error @enderror"
                               placeholder="Enter e-mail here..." value="{{ admin.emailemail ?? '' }}" disabled>
                        @error('email')
                        <div class="error">
                            {{ message }}
                        </div>
                        @enderror
                    </div>

                    <div class="form-group">
                        <label for="">Password (Leave it blank to not change)</label>
                        <input type="password" name="password" class="form-control @error('password') error @enderror"
                               placeholder="Leave it blank to not change">
                        @error('password')
                        <div class="error">
                            {{ message }}
                        </div>
                        @enderror
                    </div>

                    <div class="form-group text-right">
                        <button class="btn btn-wide btn-primary">Update</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div> <!-- User Profile -->
        </body>
    </div>
</div>
{% endblock %}