{% extends 'frontOffice.html.twig' %}
{% block title %}
    RUBRIQUE CLUB {{ nom }}{% endblock %}
{% block header %}
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" {# href="index.html" #}>
                    <h3>
                        EdSpace
                    </h3>
                    <span></span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav  ml-auto">
                        <li class="nav-item ">
                            {% block nav %}
                            <a class="nav-link" {# href="index.html" #}>Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" {# href="about.html" #}> About </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" {# href="course.html" #}> Courses </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('displayClub') }}"> Clubs </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" {# href="contact.html" #}>Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" {# href="login.html" #}>Login</a>
                        </li>
                        {% endblock %}
                    </ul>
                    <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                        <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
{% endblock %}
{% block slider %}

    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                    <div>
                                        <h1>
                                            RUBRIQUE CLUB {{ nom }}
                                        </h1>
                                        <img class="border-dark border border-width-3 rounded-circle"
                                             height="250px" width="250px"
                                             src="{{ asset('ClubPictures/' ~ clubPic) }}" alt="clubPic">
                                        </br>
                                        </br>

                                        <div class="container">
                                            <h5>
                                                {{ descClub }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
{% endblock %}
{% block special %}
    </br>
    </br>
    </br>
    <!-- FIlteeer*******************-->

    <div class="container leftitem">

        </br>
        <h4>Filter by date.</h4>
        <form style="margin-bottom: 10px" method="post" action="{{ path('displayPubClub',{'id':idclub}) }}">
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                  crossorigin="anonymous">
            <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
            <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
            <input type="text" id="minDate" name="minDate" value="minDate" width="200"/>

            <script>
                $('#minDate').datepicker({
                    uiLibrary: 'bootstrap4'
                    , format: "yyyy-mm-dd"

                });
            </script>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                  crossorigin="anonymous">
            <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
            <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
            <input type="text" id="maxDate" name="maxDate" value="maxDate" width="200"/>

            <script>
                $('#maxDate').datepicker({
                    uiLibrary: 'bootstrap4'
                    , format: "yyyy-mm-dd"

                });
            </script>
            <button style="margin-top: 10px" class="btn btn-secondary" onclick="TDate()">Afficher les pubs.</button>

            <div class="modal fade" id="datewarning" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5 class="modal-title text-dark">
                                Max date should be greater than min date.
                            </h5>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>

                        </div>


                    </div>
                </div>
            </div>

            <script>
                function TDate() {
                    var minDate = document.getElementById("minDate").value;
                    var maxDate = document.getElementById("maxDate").value;
                    if (new Date(minDate).getTime() >= new Date(maxDate).getTime()) {
                        minDate.value = ""
                        $('#datewarning').modal('show');
                        event.preventDefault();

                        return false;
                    }

                    return true;
                }
            </script>
            </br>
            </br>

        </form>

    </div>
    <div class="rightitem">
            <div class="container">
                {% if pubs is empty %}
                <p align="center">Pas de publications. </p>
                {% endif %}
                {% for c in pubs %}
                    <div class="card card-info contain">
                        <div class="card-header bg-custom_lightsilver ">
                            <h4><a href="{{ path('displayClub') }}" class="text-dark">
                                    <img class="rounded-circle"
                                         src="{{ asset('ClubPictures/' ~ clubPic)|imagine_filter('my_thumb_filter') }}">
                                    {{ c.club.clubNom|upper }}
                                </a></h4>
                        </div>
                        <div class="card-body bg-custom_morelightsilver">
                            <p class="card-text"> {% autoescape %}
                                    {{ c.pubDescription|raw }} {# var won't be escaped #}
                                {% endautoescape %}</p>
                            {% if c.ClubImg is empty %}
                            {% else %}
                                <div align="center">
                                    {% if ('.PNG' in (c.ClubImg|upper)) or ('.JPEG' in (c.ClubImg|upper)) or ('.JPG' in (c.ClubImg|upper)) or ('.JFIF' in (c.ClubImg|upper)) %}
                                        <img  style="transition: transform .1s;" src="{{ asset('PubPictures/' ~ c.ClubImg)|imagine_filter('my_dim_down_scale_filter') }}">
                                    {% elseif ('.MP4' in (c.ClubImg|upper)) %}
                                        <video controls height="500" width="600">
                                            <source src="{{ asset('PubPictures/' ~ c.ClubImg) }}" type="video/mp4">
                                            <source src="{{ asset('PubPictures/' ~ c.ClubImg) }}" type="video/webm">
                                            <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
                                                Voici <a href="{{ asset('PubPictures/' ~ c.ClubImg) }}">un lien pour télécharger
                                                    la vidéo</a>.</p>
                                        </video>
                                    {% else%}
                                        <h4 class="text-danger"> File extension not supported try adding it as a file</h4>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if c.pubFileName is empty %}
                            {% else %}
                                </br>
                                <div align="right">
                                    <p style="display: inline-block;" >Attatched file:</p>
                                    <a style="display: inline-block; margin: 0;" href="{{ path('DisplayPubFile',{'id':c.id})}}">{{ c.pubFileName }}</a>
                                </div>
                            {% endif %}

                        </div>
                        <div class="card-footer bg-custom_lightsilver text-dark" align="left" >
                            <div>
                                <div class="sameline">
                                   <strong>Publié le {{ c.pubDate|date ('Y-m-d') }}.</strong>
                                </div>
                            </div>



                        </div>

                    </div>
                </br>
                {% endfor %}
            </div>
        <div class="pagination float-right dark" style="font-size: 20px">        {{ knp_pagination_render(pubs) }}
        </div>
    </div>


    </br>
    <style>
        .page-link {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #d9d9d9 !important;
            background-color: #303131 !important;
            border: 1px solid #262626 !important;
        }
        .page-link:hover {
            z-index: 2;
            color: #fff !important;
            text-decoration: none;
            background-color: #196C4D !important;
            border-color: #dee2e6;
        }
        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #196C4D !important;
            border-color: #353535;
        }
        form.a {
            display: inline; /* the default for span */
            width: 100px;
            height: 100px;
            padding: 5px;
        }
        .leftitem {
            float: left;
            width: 250px;
            margin-left: 20px;
        }

        .rightitem {
            margin-left: 300px;
            margin-right: 250px;

        }</style>
    <style>div.sameline{
            display:inline-block;
            margin-right:710px;}
        }
    </style>


{% endblock %}
{% block about %}
{% endblock %}
{% block course %}
{% endblock %}
{% block login %}
{% endblock %}
{% block event %}
{% endblock %}
{% block client %}
{% endblock %}
{% block contact %}
{% endblock %}