{% extends 'frontOffice.html.twig' %}
{% block title %}
    <title>RUBRIQUE CLUB {{ nom }}</title>
{% endblock %}
{% block clubs_item %}
    <li class="nav-item active">
        <a class="nav-link" href={{ path('displayClub') }}>Clubs</a>
    </li>
{% endblock %}
{% block slider %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v13.0&appId=458133249281193&autoLogAppEvents=1" nonce="02aM2lcR"></script>
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                    <div>
                                        <h1>
                                            RUBRIQUE CLUB {{ nom }}
                                        </h1>
                                        <img class="border-dark border border-width-3 rounded-circle"
                                             height="250px" width="250px"
                                             src="{{ asset('ClubPictures/' ~ clubPic) }}" alt="clubPic">
                                        </br>
                                        </br>

                                        <div class="container">
                                            <h5>{% autoescape %}
                                                    {{ descClub|raw }} {# var won't be escaped #}
                                                {% endautoescape %}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
{% endblock %}
{% block special %}
    </br>
    </br>
    </br>
    <!-- FIlteeer*******************-->
    <div class="container login_form">
        <div class="float-right" style="width: 200px;margin-right: -150px" >
            <div class="d-flex justify-content-center" >
                <div class="container container-fluid ">
                    <!-- filter ************************************** -->
                    <div class="float-right" style="margin-top: -30px ;margin-bottom:30px ;margin-left: -150px">
                        <h4>Filter by date</h4>
                        <form style="margin-bottom: 10px" method="post" action="{{ path('displayPubClub',{'id':idclub}) }}">
                            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                            <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
                            <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
                            <input type="text" id="minDate" name="minDate" value="minDate" width="200"/>

                            <script>
                                $('#minDate').datepicker({
                                    uiLibrary: 'bootstrap4'
                                    , format: "yyyy-mm-dd"

                                });
                            </script>
                            <input type="text" id="maxDate" name="maxDate" value="maxDate" width="200"/>
                            <script>
                                $('#maxDate').datepicker({
                                    uiLibrary: 'bootstrap4'
                                    , format: "yyyy-mm-dd"

                                });
                            </script>
                            <button style="margin-top: 10px" class="btn btn-secondary" onclick="TDate()">Afficher les pubs</button>

                            <div class="modal fade" id="datewarning" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h5 class="modal-title text-dark">
                                                La date max doit être supérieure à la date min
                                            </h5>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>

                                        </div>


                                    </div>
                                </div>
                            </div>

                            <script>
                                function TDate() {
                                    var minDate = document.getElementById("minDate").value;
                                    var maxDate = document.getElementById("maxDate").value;
                                    if (new Date(minDate).getTime() >= new Date(maxDate).getTime()) {
                                        minDate.value = ""
                                        $('#datewarning').modal('show');
                                        event.preventDefault();

                                        return false;
                                    }

                                    return true;
                                }
                            </script>

                        </form>

                    </div>
                </div>

            </div>

        </div>
        <!-- actual pubs ************************************** -->
        <div class="container login_form" style="margin-left: 100px">
            <div class="d-flex justify-content-center" >
                <div class="container container-fluid ">
                    <div style="width: 807px;">
                        {% if pubs is empty %}
                            <p align="center">Pas de publications. </p>
                        {% endif %}
                        {% for c in pubs %}
                            <div class="card card-info contain shadow rounded">
                                <div class="card-header" style="background: #F3F3F3;height: 70px" >
                                    <h4 class="float-left"><a href="{{ path('displayClub') }}" class="text-dark">
                                            <img class="rounded-circle"
                                                 src="{{ asset('ClubPictures/' ~ clubPic)|imagine_filter('my_thumb_filter') }}">
                                            {{ c.club.clubNom|upper }}
                                        </a>
                                    </h4>
                                    <div class="fb-share-button float-right" data-href="http://127.0.0.1:8000/displayPub/{{c.id}}/{{ idclub }}" data-layout="button" data-size="large" style="margin-top: 10px">
                                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2FdisplayPub%2F3%2F1&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">

                                        </a>
                                    </div>
                                </div>
                                <div class="card-body" style="background: #F3F3F3">
                                    <p class="card-text"> {% autoescape %}
                                            {{ c.pubDescription|raw }} {# var won't be escaped #}
                                        {% endautoescape %}</p>
                                    {% if c.pubFileName is empty %}
                                    {% else %}
                                        </br>
                                        <div align="right" style="margin-top: -20px;margin-bottom: -30px">
                                            <p style="display: inline-block;" >Attatched file:</p>
                                            <a style="display: inline-block; margin: 0;" href="{{ path('DisplayPubFile',{'id':c.id})}}">{{ c.pubFileName }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div align="center" style="background: #F3F3F3">{% if c.ClubImg is empty %}
                                    {% else %}
                                        <div align="center">
                                            {% if ('.PNG' in (c.ClubImg|upper)) or ('.JPEG' in (c.ClubImg|upper)) or ('.JPG' in (c.ClubImg|upper)) or ('.JFIF' in (c.ClubImg|upper)) %}
                                                <img  style="transition: transform .1s;" src="{{ asset('PubPictures/' ~ c.ClubImg)|imagine_filter('my_dim_down_scale_filter') }}">
                                            {% elseif ('.MP4' in (c.ClubImg|upper)) %}
                                                <video controls height="400" width="806" >
                                                    <source src="{{ asset('PubPictures/' ~ c.ClubImg) }}" type="video/mp4">
                                                    <source src="{{ asset('PubPictures/' ~ c.ClubImg) }}" type="video/webm">
                                                    <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
                                                        Voici <a href="{{ asset('PubPictures/' ~ c.ClubImg) }}">un lien pour télécharger
                                                            la vidéo</a>.</p>
                                                </video>
                                            {% else%}
                                                <h4 class="text-danger"> File extension not supported try adding it as a file</h4>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-footer" align="left" style="background: #F3F3F3; height: 50px">
                                    <div>
                                        <div class="float-left">
                                            <p class="card-text">Publié le {{ c.pubDate|date ('Y-m-d') }}.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </br>
                        {% endfor %}
                        <div class="pagination float-right dark" style="font-size: 20px">        {{ knp_pagination_render(pubs) }}
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>



    </br>
    <style>

        .iconHeartEmpty::before{
            content: "\f004";
            margin-right: 30px;
            font-family: FontAwesome;
            color: #888888;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            position: relative;

        }
        .iconHeartActive::after{
            content: "\f004";
            margin-right: 30px;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            color: #FA5550;
            font-size: 25px;
            position: relative;

        }
        .hide{
            display: none;
        }

        .page-link {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #000000 !important;
            background-color: #F3F3F3 !important;
            border: 1px solid #262626 !important;
        }

        .page-link:hover {
            z-index: 2;
            color: #fff !important;
            text-decoration: none;
            background-color: #20B2AA !important;
            border-color: #dee2e6;
        }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #20B2AA !important;
            border-color: #353535;
        }
        form.a {
            display: inline; /* the default for span */
            width: 100px;
            height: 100px;
            padding: 5px;
        }
        .leftitem {
            float: left;
            width: 250px;
            margin-left: 20px;
        }

        .rightitem {
            margin-left: 300px;
            margin-right: 250px;

        }</style>
    <style>div.sameline{
            display:inline-block;
            margin-right:710px;}
        }
    </style>


{% endblock %}
{% block about %}
{% endblock %}
{% block course %}
{% endblock %}
{% block login %}
{% endblock %}
{% block event %}
{% endblock %}
{% block client %}
{% endblock %}
{% block contact %}
{% endblock %}