{% extends "backOffice.html.twig" %}

{% block leftNavBar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Rubrique Club {{ nom }} </a>
        </li>
    </ul>
{% endblock %}
{% block notif %}
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell" style="padding-right:10px "></i>
            <span class="badge badge-warning navbar-badge" >1</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <div class="dropdown-divider"></div>
            <p align="center">Spark</p>
            <a href="#" class="dropdown-item">
                <i class="fas fa-file mr-2"></i> 3 Pending posts
            </a>
            <div class="dropdown-divider"></div>
        </div>
    </li>
{% endblock %}
{% block cards %}
    </br>
    </br>
    <!-- en attente **************************************************** -->
    <div class="rightitem">
        <div id="accordion">
            <div class="card">
                <div class="card-header btn bg-success" id="headingOne" data-toggle="collapse" data-target="#enAttente"
                     aria-expanded="false" aria-controls="enAttente">
                    <h5 class="mb-0 text-white" align="center">
                        Publications en attente.
                    </h5>
                </div>

                <div id="enAttente" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body ">
                        {% if pub_hanging is empty %}
                            <p align="center">Pas de publications. </p>
                        {% endif %}
                        {% for c in pub_hanging %}
                            <div class="card card-info contain">
                                <div class="card-header bg-gray-dark text-white">
                                    <h4><a href="{{ path('displayClub') }}" class="text-white">
                                            <img class="rounded-circle"
                                                 src="{{ asset('ClubPictures/' ~ clubPic)|imagine_filter('my_thumb_filter') }}">
                                            {{ c.club.clubNom|upper }}
                                        </a>
                                    </h4>
                                </div>
                                <div class="card-body table-dark text-white">
                                    <p class="card-text">
                                        {% autoescape %}
                                            {{ c.pubDescription|raw }} {# var won't be escaped #}
                                        {% endautoescape %}</p>
                                    {% if c.ClubImg is empty %}
                                    {% else %}
                                        <div align="center">
                                            {% if ('.PNG' in (c.ClubImg|upper)) or ('.JPEG' in (c.ClubImg|upper)) or ('.JPG' in (c.ClubImg|upper)) or ('.JFIF' in (c.ClubImg|upper)) %}
                                                <img style="transition: transform .1s;"
                                                     src="{{ asset('PubPictures/' ~ c.ClubImg)|imagine_filter('my_dim_down_scale_filter') }}">
                                            {% elseif ('.MP4' in (c.ClubImg|upper)) %}
                                                <video controls height="500" width="600">
                                                    <source src="{{ asset('PubPictures/' ~ c.ClubImg) }}"
                                                            type="video/mp4">
                                                    <source src="{{ asset('PubPictures/' ~ c.ClubImg) }}"
                                                            type="video/webm">
                                                    <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
                                                        Voici <a href="{{ asset('PubPictures/' ~ c.ClubImg) }}">un lien
                                                            pour télécharger
                                                            la vidéo</a>.</p>
                                                </video>
                                            {% else %}
                                                <h4 class="text-danger"> File extension not supported try adding it as a
                                                    file</h4>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if c.pubFileName is empty %}
                                    {% else %}
                                        </br>
                                        <div align="right">
                                            <p style="display: inline-block;">Attatched file:</p>
                                            <a style="display: inline-block; margin: 0;"
                                               href="{{ path('DisplayPubFile',{'id':c.id}) }}">{{ c.pubFileName }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-footer bg-gray-dark text-white" align="left">
                                    <div>
                                        <div class="float-left">
                                            Publié le {{ c.pubDate|date ('Y-m-d') }}.
                                        </div>
                                        <div class="float-right">
                                            <form class="a" method="post"
                                                  action="{{ path('acceptRefusePub',{'idpub':c.id,'idclub':idclub,'value':"accept"}) }}">
                                                <button name="accept" id="accept" class="btn btn-success"
                                                >Accept
                                                </button>
                                            </form>

                                            <form class="a" method="post"
                                                  action="{{ path('acceptRefusePub',{'idpub':c.id,'idclub':idclub,'value':"refuse"}) }}">
                                                <button class="btn btn-danger">Refuse
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </br>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{ c.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <div class="modal-body">
                                            <h5 class="modal-title text-dark" id="exampleModalLabel">Êtes-vous sûr de
                                                vouloir supprimer
                                                la publication?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non
                                            </button>
                                            <form ACTION="{{ path("deletePubClub",{'id':c.id,'idclub':idclub}) }}">
                                                <button class="btn btn-danger">Supprimer</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

    </div>
    </br>
    <!-- FIlteeer*******************-->
    <div class="container leftitem">

        </br>
        <h4>Filter by date.</h4>
        <form style="margin-bottom: 10px" method="post" action="{{ path('displayPubClub',{'id':idclub}) }}">
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                  crossorigin="anonymous">
            <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
            <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
            <input type="text" id="minDate" name="minDate" value="minDate" width="200"/>

            <script>
                $('#minDate').datepicker({
                    uiLibrary: 'bootstrap4'
                    , format: "yyyy-mm-dd"

                });
            </script>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                  crossorigin="anonymous">
            <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
            <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
            <input type="text" id="maxDate" name="maxDate" value="maxDate" width="200"/>

            <script>
                $('#maxDate').datepicker({
                    uiLibrary: 'bootstrap4'
                    , format: "yyyy-mm-dd"

                });
            </script>
            <button style="margin-top: 10px" class="btn btn-secondary" onclick="TDate()">Afficher les pubs.</button>

            <div class="modal fade" id="datewarning" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5 class="modal-title text-dark">
                                Max date should be greater than min date.
                            </h5>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>

                        </div>


                    </div>
                </div>
            </div>

            <script>
                function TDate() {
                    var minDate = document.getElementById("minDate").value;
                    var maxDate = document.getElementById("maxDate").value;
                    if (new Date(minDate).getTime() >= new Date(maxDate).getTime()) {
                        minDate.value = ""
                        $('#datewarning').modal('show');
                        event.preventDefault();

                        return false;
                    }

                    return true;
                }
            </script>
            </br>
            </br>

        </form>

    </div>

    <div class="rightitem">
        <div class="container container-fluid">
            {% if pubs is empty %}
                <p align="center">Pas de publications. </p>
            {% endif %}
            {% for c in pubs %}

                <div class="card card-info contain">
                    <div class="card-header bg-gray-dark ">
                        <h4><a href="{{ path('displayClub') }}" class="text-white">
                                <img class="rounded-circle" width="50px" height="50px"
                                     src="{{ asset('ClubPictures/' ~ clubPic) }}"> {{ c.club.clubNom|upper }}
                            </a></h4>
                    </div>
                    <div class="card-body table-dark">
                        <p class="card-text">
                            {% autoescape %}
                                {{ c.pubDescription|raw }} {# var won't be escaped #}
                            {% endautoescape %}</p>

                        {% if c.ClubImg is empty %}
                        {% else %}
                            <div align="center">
                                {% if ('.PNG' in (c.ClubImg|upper)) or ('.JPEG' in (c.ClubImg|upper)) or ('.JPG' in (c.ClubImg|upper)) or ('.JFIF' in (c.ClubImg|upper)) %}
                                    <img style="transition: transform .1s;"
                                         src="{{ asset('PubPictures/' ~ c.ClubImg)|imagine_filter('my_dim_down_scale_filter') }}">
                                {% elseif ('.MP4' in (c.ClubImg|upper)) %}
                                    <video controls height="500" width="600">
                                        <source src="{{ asset('PubPictures/' ~ c.ClubImg) }}" type="video/mp4">
                                        <source src="{{ asset('PubPictures/' ~ c.ClubImg) }}" type="video/webm">
                                        <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
                                            Voici <a href="{{ asset('PubPictures/' ~ c.ClubImg) }}">un lien pour
                                                télécharger
                                                la vidéo</a>.</p>
                                    </video>
                                {% else %}
                                    <h4 class="text-danger"> File extension not supported try adding it as a file</h4>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if c.pubFileName is empty %}
                        {% else %}
                            </br>
                            <div align="right">
                                <p style="display: inline-block;">Attatched file:</p>
                                <a style="display: inline-block; margin: 0;"
                                   href="{{ path('DisplayPubFile',{'id':c.id}) }}">{{ c.pubFileName }}</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-gray-dark text-white" align="left">
                        <div>
                            <div class="float-left">
                                Publié le {{ c.pubDate|date ('Y-m-d') }}.
                            </div>
                            <div class="float-right">
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#exampleModal{{ c.id }}">Supprimer
                                </button>
                            </div>
                        </div>

                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{ c.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <h5 class="modal-title text-dark" id="exampleModalLabel">Êtes-vous sûr de vouloir
                                        supprimer la publication?</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <form ACTION="{{ path("deletePubClub",{'id':c.id,'idclub':idclub}) }}" class="a">
                                        <button class="btn btn-danger">Supprimer</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                </br>
            {% endfor %}
            <div class="pagination float-right dark" style="font-size: 20px">        {{ knp_pagination_render(pubs) }}
            </div>
            </br>
            </br>
        </div>

    </div>


    <style>
        .page-link {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #d9d9d9 !important;
            background-color: #303131 !important;
            border: 1px solid #262626 !important;
        }

        .page-link:hover {
            z-index: 2;
            color: #fff !important;
            text-decoration: none;
            background-color: #808080 !important;
            border-color: #dee2e6;
        }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #808080 !important;
            border-color: #353535;
        }

        form.a {
            display: inline; /* the default for span */
            width: 100px;
            height: 100px;
            padding: 5px;
        }

        .leftitem {
            float: right;
            width: 250px;
            margin-left: 20px;
        }

        .rightitem {
            margin-left: 300px;
            margin-right: 250px;

        }</style>
    <style>div.sameline {
            display: inline-block;
            margin-right: 830px;
        }

        }
    </style>
    <style>div.sameline2 {
            display: inline-block;
        }
    </style>

{% endblock %}
{% block footer %}
{% endblock %}










