{% extends "frontOffice.html.twig" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset('frontOffice/css/bootstrap.css') }}" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{{ asset('frontOffice/css/style.css') }}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{{ asset('/frontOffice/css/templatemo-nomad-force.css') }}" rel="stylesheet">
    <link href="{{ asset('/frontOffice/css/responsive.css') }}" rel="stylesheet" />
    <link href="{{ asset('/frontOffice/css/bootstrap-icons.css') }}" rel="stylesheet" > 
{% endblock css %}
{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('allPublications') }}">Tableau d'affichage<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="about.html">Forum</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="course.html">Clubs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('allemploi') }}">Offres d'emploi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="listDocuments">Centre de partage</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="event.html">Déconnexion</a>
    </li>
{% endblock %}

{% block slider %}

    <section class=" slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                    <div>
                                        <h1>
                                            Centre de partage
                                        </h1>
                                        <br>Cet espace est dédié au partage des ressources qui peuvent être utiles pour les étudiants des différents niveaux d'études de l'université.</br> Il offre la possibilté de partage et de téléchargement.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block custom %}
    <section class="news-detail section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-10 mx-auto">
                            <h2 class="mb-3" data-aos="fade-up">{{publication_title}}</h2>
                            <div class="clearfix my-4 mt-lg-0 mt-5">
                                <div class="col-md-6 float-md-right mb-3 ms-md-3" data-aos="fade-up">
                                    <figure class="figure">
                                        <img src="{{ asset('images/') ~ publication_image}}" class="img-fluid news-image" alt="">

                                        <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
                                    </figure>
                                </div>
                                <p class="me-4" data-aos="fade-up">{{publication_content}}</p>
                            </div>
                            <div class="social-share d-flex mt-5">
                                <span class="mr-4">Share this article:</span>
                                <a href="#" class="social-share-icons bi-facebook"></a>
                                <a href="#" class="social-share-icons bi-twitter mx-3" ></a>
                                <a href="#" class="social-share-icons bi-envelope"></a>
                        </div>
                        <div class="social-share d-flex flex-row mt-4">
                                <div class="mr-2"><a href="{{path('onePublicationLikes', {id: id, likes : likes}) }}"  class="social-share-icon p-2" id="likes" type="button" name='likes'><span class="social-share-icon bi-hand-thumbs-up pr-2"></span> {{likes}} aiment ça </a></div>
                                <div class="mr-2"><a href="#" class="social-share-icon p-2"><span class="social-share-icon bi-chat pr-2 "></span>{{num}}  Commentaires</a></div>
                                <div class="mr-2"><a href="#" class="social-share-icon p-2"><span class="social-share-icon bi-eye pr-2"></span> {{views}}  Vues</a></div>
                        </div>
                        <div class="social-share d-flex flex-column mt-5">
                                <div><span class="mr-4 mb-2">Commentaires</span></div>
                                <form method="POST" action={{ path('postComment', {id : id, 'likes' : likes, 'views' : views})}} class="pb-2 mt-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="comment" required="required" placeholder="Ajouter un commentaire"/>
                                    <input type="submit" value="poster" class="btn btn-outline-secondary" />
                                </div>
                                </form>
                                <div>
                                {% for c in comments %}
                                <ul class="list-group list-group-flush comments">
                                    {% if c is not null %}
                                    <div class="">
                                        <div class="li-div row">
                                        <li>
                                        <img src="{{ asset('images/') ~ publication_image}}" class="img-fluid profile-img mr-4" alt=""/>
                                        {{c}}
                                        </li></div>
                                    </div>
                                </ul>
                                {% endif %}
                                {% endfor %}
                        </div>
                        
                        </div>
                    </div>
                </div>
            </section>
            <section class="related-news section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-10 mx-auto text-center">
                            <span class="d-block" data-aos="zoom-in">Next article</span>

                            <h3 class="news-title" data-aos="fade-up">
                                <a href="{{path('onePublication', {id: id, 'likes' : likes, 'views': views})}}" class="news-title-link">{{publication_title}}</a>
                            </h3>
                        </div>

                    </div>
                </div>
            </section>
{% endblock %}

{% block special %}
{% endblock %}

{% block about %}
{% endblock %}

{% block course %}
{% endblock %}

{% block login %}
{% endblock %}

{% block event %}
{% endblock %}

{% block client %}
{% endblock %}

{% block contact %}
{% endblock %}

{% block js %}
        <script src=" {{ asset('frontOffice/js/bootstrap.bundle.min.js') }}"></script>
        <script src=" {{ asset('frontOffice/js/jquery.sticky.js') }}"></script>
        <script src=" {{ asset('frontOffice/js/jquery.min.js') }}"></script>
        <script src=" {{ asset('frontOffice/js/aos.js') }}"></script>
        <script src=" {{ asset('frontOffice/js/jquery.magnific-popup.min.js') }}"></script>
        <script src=" {{ asset('frontOffice/js/magnific-popup-options.js') }}"></script>
        <script src=" {{ asset('frontOffice/js/scrollspy.min.js') }}"></script>
        <script src=" {{ asset('frontOffice/js/custom.js') }}"></script>
        {# <script>
        let $likes = document.getElementById('likes');
        $likes.addEventListener('click', ()=>{
            $likes+=1
        })
        </script> #}
{% endblock js %}