{% extends "backOffice.html.twig" %}
{% block title %}<title>Liste des Admins</title>{% endblock %}
{% block leftNavBar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="index3.html" class="nav-link">Liste des administreurs</a>
        </li>
    </ul>
{% endblock%}
{% block cards %}
    <div class="content-wrapper">
        <div class="container-fluid">

            <body>
            <label class="btn btn-outline-info" style="margin-left : 910px">
                <a href="{{ path('ajoutA') }}"> Ajouter un agent</a>
            </label>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Role</th>
                        <th>Mise a jour</th>
                        <th>Supprimer</th>
                </tr>
                <tr {% for a in admin%}>
                    <td>{{ a.id }}</td>
                    <td>{{ a.username }}</td>
                    <td>{{ a.prenom }}</td>
                    <td>{{ a.email }}</td>
                    <td>{% for role in a.roles %}
                            {{ role }}
                        {% endfor %}</td>

                    <td><a href="{{ path('updateA',{'id':a.id}) }}" class="btn btn-outline-info"><i class="fas fa-pen"></i></a></td>
                    <td><a  class="btn btn-danger px-3" href="{{ path('deleteA',{'id':a.id}) }}"><i class="fa fa-trash" class="fas fa-bolt" aria-hidden="true"></i></a></td>


                </tr{% endfor %}>
            </table>



            </body>
        </div>
    </div>
{% endblock %}