{% extends "backOffice.html.twig" %}
    {% block title %}<title>Clubs universitaires</title>{% endblock %}
{% block leftNavBar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Les clubs universitaires</a>
        </li>
    </ul>
{% endblock%}
{% block cards %}

    <div class="content-wrapper">
        <div class="container-fluid">
            </br>
            <div align="left">
                <form ACTION="{{ path("addClub") }}">
                    <button class="btn btn-success">Créer un club</button>
                </form>
            </div>
            </br>


            <TABLE class="table table-striped fixed">

                <tr>
                    <th width="150px">Nom du club</th>
                    <th width="200px">Email responsable</th>
                    <th >Description</th>
                    <th width="130px">
                        <a href="{{ path('displayClubCategories') }}">Catégorie</a></th>
                    <th width="130px">Actions</th>


                </tr>
                <tr> {% for c in clubs %}
                    <td><a href="{{ path('displayPubClub',{'id':c.id}) }}" class="text text-dark font-weight-bold">{{ c.clubNom }} </a></td>
                    <td>{{ c.clubResponsable.email }}</td>
                    <td> {% autoescape %}
                            {{ c.clubDescription|raw }} {# var won't be escaped #}
                        {% endautoescape %}</td>
                    <td>{{ c.clubCategorie.categorieNom }}</td>
                    <td>
                        <a href="#" style="color: #FA5550"  data-toggle="modal" data-target="#exampleModal2{{ c.id }}" class="hovertext" data-hover="Supprimer">
                            <i class="fas fa-trash fa-sm" style="margin-right: 10px"></i>
                        </a>

                        <a href="{{ path("updateClub",{'id':c.id}) }}" style="color: #7EBCF7"  class="hovertext" data-hover="Modifier">
                            <i class="fas fa-pen fa-sm" style="margin-right: 10px"></i>
                        </a>

                        <a href="{{ path('displayPubClub',{'id':c.id}) }}" style="color: #31B252" class="hovertext" data-hover="Consulter">
                            <i class="fas fa-share fa-sm" style="margin-right: 10px"></i>
                        </a>
                    </td>
                    <div class="modal fade" id="exampleModal2{{ c.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <h5 class="modal-title text-dark" id="exampleModalLabel">Êtes-vous sûr de vouloir supprimer le club?</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <form ACTION="{{ path("deleteClub",{'id':c.id}) }}">
                                        <button class="btn btn-danger" >Supprimer</button>
                                    </form>                                        </div>
                            </div>
                        </div>
                    </div>

                <tr> {% endfor %}

                </tr>
            </TABLE>

        </div>
    </div>
    <style>
        .hovertext {
            position: relative;
        }

        .hovertext:before {
            margin-left: -70px;
            content: attr(data-hover);
            visibility: hidden;
            opacity: 0;
            background-color: dimgrey;
            color: #fff;
            text-align: center;
            border-radius: 5px;
            padding: 10px 10px 10px 10px;
            transition: opacity 1s ease-in-out;

            position: absolute;
            z-index: 1;
            left: 0;
            top: 110%;
        }

        .hovertext:hover:before {
            opacity: 1;
            visibility: visible;
        }
        table.fixed { table-layout: fixed; }
        th,td { word-wrap: break-word; }

    </style>
{% endblock %}
{% block footer %}
{% endblock %}

