{% extends 'frontOffice.html.twig' %}

{% block title %}
    <title>Clubs</title>
{% endblock %}

{% block clubs_item %}
    <li class="nav-item active">
        <a class="nav-link" href={{ path('displayClub') }}>Clubs</a>
    </li>
{% endblock %}

{% block slider %}

    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                    <div>
                                        <h1>
                                            RUBRIQUE CLUBS
                                        </h1>
                                        <p>
                                            La vie associative est un atout pour les élèves ingénieurs de Sup'Com. Le
                                            plan de la formation d’ingénieur accorde en effet une importance capitale
                                            aux activités extra-scolaires et par suite leur consacre un créneau horaire
                                            honorable. Cette importance émane en toute évidence du rôle primordial de la
                                            vie associative dans l’initiation de l’élève ingénieur Sup'Comien aux enjeux
                                            de la vie professionnelle
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
{% endblock %}
{% block special %}
    {% include "conversation.html.twig" %}
    </br>
    <div class="container " align="center">
        <form method="post" action="{{ path('displayClub') }}">
            <select name="catego" id="catego" class="border" style="height: 36px">
                <option disabled selected>-- Catégories --</option>
                {% for cat in categories %}
                    <option>{{ cat.categorieNom }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-secondary">Afficher les clubs</button>
        </form>

    </div>

    </br>
    <div class="container ">

        {% set i = 1 %}
        <div class="row">
            {% if clubs is empty %}
                <p>Pas de clubs.
                </p>
            {% else %}
                {% for c in clubs %}
                    <div class="col-sm-6">
                        <div id="accordion">
                            <div class="card shadow" >
                                <div class="card-header btn bg-secondary"  id="heading{{ i }}">
                                    <h2 class="mb-0" align="center">
                                        <button class="btn text-white font-weight-bolder" style="width: 400px" data-toggle="collapse"
                                                data-target="#collapse{{ i }}" aria-expanded="true"
                                                aria-controls="collapse{{ i }}">
                                            {{ c.clubNom }}
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapse{{ i }}" class="collapse" aria-labelledby="heading{{ i }}"
                                     data-parent="#accordion" align="center">
                                    </br>
                                    <img width="200px" height="200px" align="center" class="rounded-circle"
                                         src="{{ asset('ClubPictures/' ~ c.clubPic) }}">
                                    </br>
                                    </br>

                                    <h5 align="center">Catégorie : {{ c.clubCategorie.categorieNom }}</h5>
                                    <div class="card-body">
                                        {% autoescape %}
                                            {{ c.clubDescription|raw }} {# var won't be escaped #}
                                        {% endautoescape %}
                                    </div>
                                    <h5> Contact:</h5>
                                    <div>
                                        {{ c.clubResponsable.email }}
                                    </div>
                                    <h5>
                                        <button class="btn btn-success" style="margin-top: 10px">
                                            <a href="{{ path('displayPubClub',{'id':c.id}) }} "class="text text-white" >
                                                Consulter
                                            </a>
                                        </button>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        {% set i = i + 1 %}
                    </div>

                {% endfor %}
            {% endif %}
        </div>

    </div>
    </br>

    <style>
        html, body {
            background: #fff;
            height:100%;
        }
        .leftitem
        {
            float: left;
            width: 450px;
        }

        .rightitem
        {
            margin-left: 170px;
            margin-right: 170px;

        }
    </style>
{% endblock %}
{% block about %}
{% endblock %}
{% block course %}
{% endblock %}
{% block login %}


{% endblock %}
{% block event %}

{% endblock %}
{% block client %}
{% endblock %}
{% block contact %}
{% endblock %}






