{% extends "frontOffice.html.twig" %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="index.html">Tableau d'affichage<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="about.html">Forum</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="course.html">Clubs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="contact.html">Offres d'emploi</a>
    </li>
    <li class="nav-item active">
        <a href="#" class="nav-link">
            Centre de partage
            <i class="fas fa-angle-down right"></i>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href={{ path('choixNiveau',{'role':1}) }} class="nav-link">
                    <p class="down">Tous les documents</p>
                </a>
            </li>
            <li class="nav-item">
                <a href={{ path('mesDoc') }} class="nav-link">
                    <p class="down">Mes documents</p>
                </a>
            </li>
            <li class="nav-item">
                <a href={{ path('mesFavoris') }} class="nav-link">
                    <p class="down">Mes favoris</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="event.html">Mon profile</a>
    </li>
{% endblock %}

{% block slider %}

    <section class=" slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                    <div>
                                        <h1>
                                            Centre de partage
                                        </h1>
                                        <br>Cet espace est dédié au partage des ressources qui peuvent être utiles pour les étudiants des différents niveaux d'études de l'université.</br> Il offre la possibilté de partage et de téléchargement.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block custom %}
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    </br>
    <center> <a href="{{ path("ajoutDocument") }}" class="btn btn-dark">Ajouter un document</a></center>
    </br>
    <center>
        <form method="post" action="{{ path('listDocuments',{'role':1}) }}" >
            <select name="niveauKey" id="niveauKey" class="border">
                <option disabled selected> -- Sélectionnez un niveau -- </option>
                {% for n in niveaux %}
                    <option>{{ n.id }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-secondary">Afficher les documents</button>
        </form>
    </center>
    </br>
    <center>
        {% set cuEt="Meriam2" %}

        <table class="table table-striped">
            <thead>
            <th></th>
            <th></th>
            <th>Niveau</th>
            <th>Matière</th>
            <th>Fichier</th>
            <th>Date d'insertion</th>
            <th>Propriétaire</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            </thead>
            <tr {% for d in documents %}>
                <td></td>
                <td></td>
                <td>{{ d.niveau.id }}</td>
                <td>{{ d.matiere.id }}</td>
                <td><a href="{{ asset('documents/'~d.nom) }}" type=d.type download>{{ d.nom }}</a> </td>
                <td>{{ d.dateinsert }}</td>
                <td>{{ d.proprietaire }}</td>
                <td><a target="_blank" href="{{ path("apercuDocument",{'id':d.id}) }}" class="btn btn-outline-primary"><i class="fas fa-eye"></i></a>
                    {% if cuEt==d.proprietaire %}
                    <td><a href="{{ path("modifDocument",{'id':d.id}) }}" class="btn btn-outline-info"><i class="fas fa-pen"></i></a></td>
                    <td><a href="{{ path("suppDocument",{'id':d.id,'role':1}) }}" class="btn btn-outline-danger" onclick="return confirm('Supprimer ce document?')"><i class="fas fa-trash"></i></a>
                {% else %}
                    <td>-</td>
                    <td>-</td>
                {% endif %}
                <td><a href="{{ path("shareDoc",{'id':d.id}) }}" class="btn btn-outline-success"><i class="fas fa-share"></i></a>
                <td><a href="{{ path("signalDoc",{'id':d.id,'role':1}) }}" class="btn btn-outline-warning" onclick="return confirm('Signaler ce document?')"><i class="fas fa-exclamation-triangle"></i></a>
                    {% set exist = false %}
                    {% for f in favoris %}
                        {% if f.document==d %}
                            {% set exist = true %}
                        {% endif %}
                    {% endfor %}
                    {% if exist %}
                        <td><a href="{{ path("unPinDoc",{'id':d.id,'role':1}) }}" class="btn btn-outline-info"><i class="fas fa-heart-broken"></i></a></td>
                    {% else %}
                        <td><a href="{{ path("pinDoc",{'id':d.id,'role':1}) }}" class="btn btn-outline-info"><i class="fas fa-heart"></i></a></td>
                    {% endif %}
                <td></td>
            </tr {% endfor %}>
        </table>
    </center>
    </br>
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}

{% block special %}
{% endblock %}

{% block about %}
{% endblock %}

{% block course %}
{% endblock %}

{% block login %}
{% endblock %}

{% block event %}
{% endblock %}

{% block client %}
{% endblock %}

{% block contact %}
{% endblock %}