{% extends "document/frontDoc.html.twig" %}
{% block title %}
    <title>Centre de partage</title>
{% endblock %}
{% block custom %}
    <div style="background: #F3F3F3">
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
        <!-- Flashy depends on jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Load Flashy default JavaScript -->
        <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    </br>
    <center> <a href="{{ path("ajoutDocument") }}" class="btn btn-dark">Ajouter un document</a></center>
    </br>
    <center>
        <div class="row d-flex justify-content-center">
            <div>
        <form method="post" action="{{ path('listDocuments') }}" >
            <select name="matiereKey" id="matiereKey" class="border">
                <option disabled selected> -- Sélectionnez une matière -- </option>
                {% for m in matieres %}
                    <option>{{ m.id }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-secondary">Rechercher</button>
        </form>
            </div>
            <div><a href="{{ path('choixNiveau') }}" class="btn btn-link">Réinitialiser</a>
            </div>
    </center>

    </br>

    <div class="row d-flex justify-content-center">
        {% set cuEt=app.user.username~" "~app.user.prenom %}
        {% for d in documents %}
            <div class="p-4">
                <div class="card h-100" style="width: 18rem;border-radius: 15px">
                    <div class="dropdown" style="margin-top: 10px ;margin-left: 10px">
                        <a><i class="fa-solid fa-ellipsis fa-xl" style="color:grey" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -5px; margin-top: -5px">
                            {% if cuEt==d.proprietaire %}
                                <a class="dropdown-item" href="{{ path("modifDocument",{'id':d.id}) }}" style="color: #7EBCF7"><i class="fas fa-pen fa-sm" style="margin-right: 10px"></i>Modifier</a>
                                <a class="dropdown-item" style="color: #FA5550" data-toggle="modal" href="#" data-target="#exampleModalSupp{{ d.id }}"><i class="fas fa-trash fa-sm" style="margin-right: 10px"></i>Supprimer</a>
                            {% endif %}
                            {% if d.url ==null %}
                                <a href="{{ asset('documents/'~d.nom) }}" type=d.type download class="dropdown-item" style="color: grey"><i class="fas fa-arrow-down fa-sm" style="margin-right: 10px"></i>Télécharger</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path("shareDoc",{'id':d.id}) }}" style="color: darkseagreen"><i class="fas fa-share fa-sm" style="margin-right: 10px"></i>Partager</a>
                            <a class="dropdown-item" style="color: #FFCC00" data-toggle="modal" href="#" data-target="#exampleModalSignal{{ d.id }}"><i class="fas fa-exclamation-triangle  fa-sm" style="margin-right: 10px"></i>Signaler</a>
                        </div>
                    </div>
                    <div class="card-body pe-auto">
                        {% if d.url ==null %}
                            <a target="_blank" href="{{ path("apercuDocument",{'id':d.id}) }}"><h3 class="card-title">{{ d.nom }}</h3></a>
                        {% else %}
                            <a target="_blank" href="{{ path("apercuUrl",{'id':d.id}) }}"><h3 class="card-title">{{ d.nom }}</h3></a>
                        {% endif %}
                        <h6 class="card-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis">{{ d.niveau.id }} | {{ d.matiere.id }}</h6>
                        </br></br>
                        <small class="float-left">By: {{ d.proprietaire }}</small>
                        </br>
                        <small>{{ d.dateinsert }}</small>
                        {% set exist = false %}
                        {% for f in favoris %}
                            {% if f.document==d and app.user.id==f.user.id %}
                                {% set exist = true %}
                            {% endif %}
                        {% endfor %}
                        {% if exist %}
                            <a class="float-right" data-toggle="tooltip" title="Détacher" href="{{ path("unPinDoc",{'id':d.id}) }}" style="color: #FB849D"><i class="fas fa-heart-broken fa-lg float-right"></i></a>
                        {% else %}
                            <a class="float-right" data-toggle="tooltip" title="Épingler" href="{{ path("pinDoc",{'id':d.id}) }}" style="color: #FB849D"><i class="fas fa-heart fa-lg float-right"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalSupp{{ d.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background: indianred">
                            <h5 class="modal-title" id="exampleModalLabel" style="color: white">Supprimer le document</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer ce document?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" style="background: darkgrey;color: white" data-dismiss="modal">Non</button>
                            <form action="{{ path("suppDocument",{'id':d.id}) }}">
                                <button class="btn btn-default" style="background: indianred;color: white">Oui</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalSignal{{ d.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background: #FFCC00">
                            <h5 class="modal-title" id="exampleModalLabel" style="color: white">Signaler le document</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir signaler ce document?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" style="background: darkgrey;color: white" data-dismiss="modal">Non</button>
                            <form action="{{ path("signalDoc",{'id':d.id}) }}">
                                <button class="btn btn-default" style="background: #FFCC00;color: white">Oui</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </br>
    </div>
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    {% include "conversation.html.twig" %}
{% endblock %}