{# {% extends 'frontOffice.html.twig' %} #}

{% block custom %}
{% include 'style2.html.twig' %}
 
<div class="chat" id="body"> 
  
<div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
		   <i class="far fa-comment"></i>
	</div>
  <div  class="chat-members">
        {% for n in memebers %}
      <i class="fas fa-image"></i> <a href="#">  {{n.prenom}} {{n.username}} </a>  <br>

        {% endfor %}
  </div>

 <div class="theme">
  <span class="dot tblue" id="blue"></span>
<span class="dot tpink" id="pink"></span>
<span class="dot tgreen" id="green"></span>
<span class="dot torange" id="orange"></span>
  </div>

  <div class="option">
  <input type="text" id="sinput"></input>
  <i class="fa fa-search"></i>
  </div>

  <div class="chat-box">
    <div class="chat-box-header">
   <a href="#" id="members"> <i class="fa fa-user" aria-hidden="true" ></i> </a>
   CLASSE: {{classe.niveau.id}}{{classe.classe}}
      <span class="chat-box-toggle"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></span>
    </div>
    <div class="chat-box-body">
      <div class="chat-box-overlay">   
      </div>
      <div class="chat-logs">

               {% for n in message %}
               {% if n.user.id == user.id %}
       <div class="chat-msg self last">
           <div class="cm-msg-text"> {{n.content}}</div>
       </div>
       {% endif %}

                  {% if n.user.id != user.id %}
       <div class="chat-msg user">
           <div class="cm-msg-text "> {{n.content}}</div>
           <a class="hidem"><i class="fa fa-eye"></i></a>
       </div>
       {% endif %}
               {% endfor %}
      </div><!--chat-log -->
    </div>
    <div class="chat-input"> 




      <form id="sample_form">
      <a><i id="searchm" class="fa fa-chevron-left"></i></a>
        <input type="text" autocomplete="off" autofill="off" class="form_data" name="content" id="chat-input" placeholder="Envoyer un message..."/>
        <input type="hidden" class="form_data" name="idu" id="chat-input-user"  value="{{user.id}}" />
        <input type="hidden" class="form_data" name="idc" id="chat-input-classe" value="{{user.classe.id}}" />

      <button type="submit" class="chat-submit" id="sendbtn" onclick="save_data();"><i class="fas fa-paper-plane"></i></button>
      </form>      
    </div>
  </div>
  

  
  
</div>



<script>

hidem();

const find=document.getElementById('sinput');
find.addEventListener('keyup',() =>{
search(find.value);
});

function save_data(){

  event.preventDefault();
add_mymessage(document.getElementById('chat-input').value);
  
  let form_element = document.querySelectorAll('.form_data');
  var form_data = new FormData();
  for (let i = 0; i < form_element.length; i++) {
 form_data.append(form_element[i].name, form_element[i].value);
  }
  
        let http = new XMLHttpRequest();
    http.open("POST", "http://127.0.0.1:8000/push", true);
    http.send(form_data);

    document.getElementById('chat-input').value="";
}






const url = new URL('http://localhost:3000/hub');
url.searchParams.append('topic', 'http://127.0.0.1:8000/conversation');
const eventSource=new EventSource(url);

eventSource.onmessage = e => {

  if({{user.id}}  != JSON.parse(e.data).user){
add_message(e);
 }

}
function add_message(e){
  const chat=document.querySelector('.chat-logs');
 chat.insertAdjacentHTML('beforeend', `<div class="chat-msg user">
 <div class="cm-msg-text "> `+JSON.parse(e.data).message+`</div><a class="hidem"><i class="fa fa-eye"></i></a></div>`)
 hidem()
}


function add_mymessage(data){
  const chat=document.querySelector('.chat-logs');
 chat.insertAdjacentHTML('beforeend', `<div class="chat-msg self last">
 <div class="cm-msg-text "> `+data+`</div></div>`)
}


function hide(a){
  a.addEventListener('click',()=>{
    a.parentElement.style.display = "none";

  })
}
function hidem(){
  x=document.querySelectorAll('.hidem')
  x.forEach(a => { hide(a);
  });

}


function search(str){
  const x=document.querySelectorAll('.cm-msg-text');
x.forEach(element => {
  if(element.innerText.search(str)!=-1){
    element.parentElement.style.display = "block";
  console.log(element.innerText)
  }
  else{
    element.parentElement.style.display = "none";
  }
});
}



</script>

{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ asset('frontOffice/js/jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('frontOffice/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('frontOffice/js/app.js?version=3') }}"></script>
{% endblock %}