{% extends 'frontOffice.html.twig' %}

{% block custom %}

 
<div class="chat" id="body"> 
  
<div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
		   <i class="far fa-comment"></i>
	</div>
  <div  class="chat-members">
        {% for n in memebers %}
      <i class="fas fa-image"></i> <a href="#">  {{n.prenom}} {{n.name}} </a>  <br>

        {% endfor %}
  </div>
  <div class="chat-box">
    <div class="chat-box-header">
   <a href="#" id="members"> <i class="fa fa-user" aria-hidden="true" ></i> </a>
   CLASSE: {{classe.niveau.id}}{{classe.classe}}
      <span class="chat-box-toggle"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></span>
    </div>
    <div class="chat-box-body">
      <div class="chat-box-overlay">   
      </div>
      <div class="chat-logs">

               {% for n in message %}
               {% if n.user.id == user.id %}
       <div class="chat-msg self">
           <div class="cm-msg-text"> {{n.content}}</div>
       </div>
       {% endif %}

                  {% if n.user.id != user.id %}
       <div class="chat-msg user">
           <div class="cm-msg-text"> {{n.content}}</div>
       </div>
       {% endif %}
               {% endfor %}
      </div><!--chat-log -->
    </div>
    <div class="chat-input">      
      <form action='/addconv' method='post'>
        <input type="text" name="content" id="chat-input" placeholder="Envoyer un message..."/>
        <input type="hidden" name="idu" value="{{user.id}}" />
        <input type="hidden" name="idc" value="{{user.classe.id}}" />

      <button type="submit" class="chat-submit" ><i class="fas fa-paper-plane"></i></button>
      </form>      
    </div>
  </div>
  
  
  
  
</div>

{% endblock %}